:root {
  --primary-color: #152451;
  --secondary-color: #D84F1E;
  --accent1-color: #67616B;
  --accent2-color: #E6E4E7;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
  }


body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px 20px; 
}

header img {
  justify-self: start;
  margin-left: 80px;
}

header nav {
  justify-self: end;
  margin-right: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--accent2-color);
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
}

.hero {
  position: relative;
  margin-bottom: 40px;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--primary-color);
  color: #fff;
}

.hero article {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 97%;
    background: var(--primary-color);
    color: #fff;
    
}

section {
    text-align: center ;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.span {
    grid-column: span 3;
}

section h2 {
    background-color: var(--secondary-color);
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.grid img {
    justify-self: center;
    align-self: center;
}


section p, footer {
    color: var(--primary-color);
}

.hero article img {
  float: right;
  width: 125px;
}

nav, p, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

footer p {
    margin-top: 40px;
    border-top: 1px solid #000;
}

.box {
    display: grid;
    grid-template-columns: auto;
}

figure img {
    width: 200px;
}

footer {
  display: flex;
  justify-content: center;
}

