

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}