
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: darkblue;
  --secondary-color: white;
  --border-standard: 1px solid #000;
  --margin-standard: 1rem;
  --box-shadow-standard: 0 0 30px gray;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
  color: white;
  display: block;
  padding: 10px;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

main {
  max-width: 840px;
  grid-column: 2/3;
}

h1 {
  color: var(--primary-color);
  border-bottom: 1px solid #000;
}

img {
  width: 150px;
  height: auto;
  border: var(--border-standard);
  padding: 2px;
  box-shadow: var(--box-shadow-standard);
}

p {
  padding: 0;
}

aside {
  position: relative;
  width: 20rem;
  color: #333;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
aside h2 {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 18px;
  color: rgb(0 0 0 );
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  margin: 1rem;
  margin-top: 0;
  border: var(--border-standard);
  padding: 3px;
  box-shadow: var(--box-shadow-standard);
}

footer {
  margin-top: 15px;
  border-top: var(--border-standard);
  text-align: center;
}

/* CSS class selectors */
.grid {
  display: grid;
  align-items: center;
}

.box  {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  background-color: #ddd;
  color: black;
}