
:root {
  --primary-color: darkblue;
  --secondary-color: white;
  --border-standard: 1px solid #000;
  --margin-standard: 1rem;
  --box-shadow-standard: 0 0 30px gray;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

main {
  max-width: 840px;
}

h1 {
  color: var(--primary-color);
}

img {
  width: 150px;
  height: auto;
  border: var(--border-standard);
  padding: 2px;
  box-shadow: var(--box-shadow-standard);
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  margin: 1rem;
  border: var(--border-standard);
  padding: 3px;
  box-shadow: var(--box-shadow-standard);
}

footer {
  margin-top: 15px;
  border-top: var(--border-standard);
  text-align: center;
}